// ==================================================================
//  Colours
// ==================================================================

$color-map: (
    black: #111,
    white: #FFF,
    grey-dark: #333,
    grey-mid: #999,
    grey-light: #AAA
) !default;


// ==================================================================
//  z-index
// ==================================================================

$z-index-map: (
    modal: 100,
    ui: 50,
    content: 25,
    base: 0
) !default;

// ==================================================================
//  Fonts
// ==================================================================

$base-font-size: 10px;

$font-body: 'Playfair Display', serif;
$font-heading: 'Oswald', sans-serif;
$font-ui: 'Arimo', sans-serif;
