.c-navigation {
  margin-bottom: 120px;
  padding-bottom: 40px;
  position: relative;

  &__item {
    color: color(grey-mid);
    font-family: $font-ui;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: .1em;
    line-height: 1.2em;
    text-decoration: none;

    &:hover,
    &.active {
      color: color(grey-dark);
      cursor: pointer;
    }
  }

  &::after {
    background-color: color(grey-mid);
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 10px;
  }
}
